anyascii==0.3.0
click==8.0.3
colorama==0.4.4
contractions==0.1.66
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
nltk==3.7
numpy==1.22.2
pandas==1.4.1
pyahocorasick==1.4.2
python-dateutil==2.8.2
pytz==2021.3
regex==2022.1.18
six==1.16.0
textsearch==0.0.21
tqdm==4.62.3
Werkzeug==2.0.3
